* {
    padding: 0;
    margin: 0;
}

.Home-Pictures {
    display: flex;
    justify-content: center;
}

.Home-Pictures img {
    width: 100%;
}

.Image-And-Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 0px 50px;
}

.Home-Pictures h2 {
    text-align: center;
    padding-bottom: 1vh;
}

.Home-Pictures a {
    text-decoration: none;
    color: black
}

.Img-Title-Div {
    width: fit-content;
    margin: auto;
    margin-bottom: 100px;
}

.About {
    margin-top: 60px;
}

.Angel-Img {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    padding-top: 75px;
    padding-bottom: 30px;
}

.Angel-Img img {
    width: 300px;
}

.Bottom-Div {
    height: 100px;
    border: 1px solid black;
    padding-top: 100px;
    text-align: center;
}

.Bottom-Div h3{
    font-weight: normal;
}

.Angel-Bottom {
    width: 40%;
    margin-right: 20px;
    margin-bottom: 75px;
    margin-top: 50px;
}

.Angel-Bottom-Div {
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    
}

.Contact-H1 {
    text-align: center;
    margin-top: 30vh;
    font-size: 60px;
    margin-bottom: 30px;
}

.Contact-H2 {
    margin-bottom: 25px;
    text-align: center
}

.Contact-Info {
    width: fit-content;
    margin: auto;
}